* {
    margin: 0;
    padding: 0;
  }
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-container{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 4fr ;
    grid-template-rows: 1fr 4fr;
}
.header{
    box-shadow: 10px 0px 8px black;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1.25fr 2fr;
    background-color: white;
}
.first-row{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 10px 0px 8px black;
}
.search{
    display: grid;
    grid-template-columns: 0.3fr 3fr;
}
.search-img{
    display: grid;
}
img.magnify{
    max-width: 30px;
    max-height: 30px;
    justify-self: center;
    align-self: center;
}
.text-bar{
    display: grid;
}
input[type='text']{
    background-color: #e2e8f0;
    border: none;
    border-radius: 15px;
    width: 80%;
    height: 35px;
    justify-self: start;
    align-self: center;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.bell-img{
    display: grid;
}
.bell{
    max-width: 30px;
    max-height: 30px;
    justify-self: center;
    align-self: center;
}
.avatar-cont{
    display: grid;
    justify-items: center;
    align-items: center;
}
.avatar-img{
    width: 40px;
    height: 40px;
    display: grid;
    background-color: #FFD700;
    border-radius: 45%;
}
.avatar{
    max-width: 30px;
    max-height: 30px;
    justify-self: center;
    align-self: center;
}
.name{
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.second-row{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.avatar-info{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}
.big-avatar-img{
    display: grid;
    width: 60px;
    height: 60px;
    background-color: #FFD700;
    border-radius: 45%;
    justify-self: end;
    align-self: center;
}
.big-avatar{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.big-info{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 15px;
}
.small-welcome{
    align-self: center;
    font-weight: bolder;
}
.big-name{
    font-weight: bolder;
    font-size: 25px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.button{
    background-color: #0284c7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}


.sidebar{
    padding-top: 25px;
    padding-left: 25px;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #0284c7;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    gap: 40px;
}
.first-row-sidebar{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.dashboard-icon{
    grid-column: 1/2;
    display: grid;
}
.dashboard-pic{
    max-width: 80px;
    max-height: 80px;
    justify-self: center;
    align-self: center;
}
.dashboard-text{
    grid-column: 2/3;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    color: #f0f9ff;
}
.second-row-sidebar{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
}
.LeftCol{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.home{
    display: grid;
}
.home-img{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.profile{
    display: grid;
}
.profile-img{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.msgs{
    display: grid;
}
.msgs-img{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.history{
    display: grid;
}
.history-img{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.task{
    display: grid;
}
.task-img{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.community{
    display: grid;
}
.community-img{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.RightCol{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.home-text{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    color: #f0f9ff;
}
.profile-text{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    color: #f0f9ff;
}
.msgs-text{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    color: #f0f9ff;
}
.history-text{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    color: #f0f9ff;
}
.task-text{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    color: #f0f9ff;
}
.community-text{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    color: #f0f9ff;
}
.third-row-sidebar{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 65%;
    height: 55%;
}
.LeftColTwo{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
   
}
.setting{
    display: grid;
}
.setting-img{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.support{
    display: grid;
}
.support-img{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.privacy{
    display: grid;
}
.privacy-img{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
}
.RightColTwo{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
   
}
.setting-text{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    color: #f0f9ff;
}
.support-text{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    color: #f0f9ff;
}
.privacy-text{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    color: #f0f9ff;
}
.main-content{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #e2e8f0;
    display: grid;
    padding: 45px 30px 50px 30px;
}
.main-content-div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}
.projects{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}
.projects .card{
    background-color: white;
    border-radius: 20px;
    border-left: 10px solid #eab308;
    box-shadow: 5px 5px 5px #6b7280;
    padding: 30px 30px;
    display: grid;
    grid-template-rows: 1fr .25fr;
}
.card-content .content-title{
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 3px;
}
.card-content .content-main{
    font-size: 16px;
    color: #475569;
}
.card-icon{
    display: grid; 
}
.card-icon-main{
    display: grid;
    width: 50%;
    justify-self: end;
    grid-template-columns: 1fr 1fr 1fr;
}
.favrt-div{
    display: grid;
}
.eye-div{
    display: grid;
}
.connect-div{
    display: grid;
}
.favrt{
    max-width: 30px;
    max-height: 30px;
    justify-self: center;
    align-self: center;
}
.eye{
    max-width: 30px;
    max-height: 30px;
    justify-self: center;
    align-self: center;
}
.connect{
    max-width: 30px;
    max-height: 30px;
    justify-self: center;
    align-self: center;
}
.announcementsTrending{
    grid-column: 2/3;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}
.announcements{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
}
.maintenance{
    display: grid;
    border-bottom: solid 1px #9ca3af;
    padding-bottom: 5px;
}
.community-day{
    display: grid;
    border-bottom: solid 1px #9ca3af;
    padding-top: 5px;
    padding-bottom: 5px;
}
.policy{
    display: grid;
    padding-top: 5px;
}
.ann-title{
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 3px;
}
.ann-content{
    font-size: 16px;
    color: #475569;
}
.announcementsTrending .announcements{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #6b7280;
}
.announcementsTrending .Trending{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #6b7280;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 30px;
}
.main-avatar{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}
.avatar-img{
    display: grid;
    width: 40px;
    height: 40px;
    background-color: skyblue;
    border-radius: 40%;
    justify-self: end;
    align-self: center;
}
.avatar{
    max-width: 30px;
    max-height: 30px;
    justify-self: center;
    align-self: center;
}
.avatar-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 15px;
}
.avatar-name{
    align-self: center;
    font-weight: bolder;
    font-size: 18px;
    font-weight: bold;
}
.avatar-quality{
    font-weight: bolder;
    font-size: 16px;
    font-weight: normal;
    color: #475569;
}
.avatar-img-1{
    display: grid;
    width: 40px;
    height: 40px;
    background-color: gold;
    border-radius: 40%;
    justify-self: end;
    align-self: center;
}
.avatar-img-2{
    display: grid;
    width: 40px;
    height: 40px;
    background-color: #86efac;
    border-radius: 40%;
    justify-self: end;
    align-self: center;
}
.avatar-img-3{
    display: grid;
    width: 40px;
    height: 40px;
    background-color: #f9a8d4;
    border-radius: 40%;
    justify-self: end;
    align-self: center;
}
